* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin: 1%;
    text-shadow: 3px 2px 4px rgb(134, 28, 63);
}

.score-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.score{
    width: 170px;
    height: 68px;
    border-style: double;
    border-width: 5px;
    border-color: rgb(134, 28, 63);
    border-radius: 2rem;
    margin: 0 auto;
    font-size: 2.5rem;
    
}
.player{
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgb(134, 28, 63);
    left: 30%;}

.computer{
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgb(134, 28, 63);
    right: 30%; 
}
.result{
    font-size: 3rem;
    font-weight: 550;
    text-shadow: 2px 2px 5px rgb(134, 28, 63);
}
#action,
#winner {
    margin-top: 5px;
    margin-bottom: 5px;
}
.choices {
    padding: 0;
    text-align: center;
    background: none;
    border: none;
    
}  
#player,
#computer{
    display: inline-block;   
    margin:auto 2rem ;  
    position: relative; 
}
#player{
    transform: rotateY(180deg);    
}
.choice-buttons{     
    border: none;
    display: contents;
}
.button{
    width: 130px;
    height: 50px;
    background-color: rgb(206, 119, 133);
    font-size: 1.5rem;
    border: none;
    border-radius:2rem;
    font-weight: 600;
    box-shadow: 2px 3px 5px rgb(134, 28, 63);
    cursor: pointer; 
    margin: 10px;
}
.button:hover{
    box-shadow: 3px 4px 5px rgb(102, 13, 43);
    background-color: rgb(206, 100, 118);
}

@media (max-width: 1024px) {
    .player{
        left: 20%; 
    }
    .computer{
        right: 20%;
    }
}



@media (max-width: 770px) {
    h1 {
        font-size: 3rem;
        margin: 2%;
    }
    .choices img{
        height: 200px;
    }
    .player{
        left: 10%; 
    }
    .computer{
        right: 10%;
    }
    .button {
        width: 120px;
        height: 40px;
    }
    .result {
        font-size: 2rem;
        font-weight: 500;
    }
}
@media (max-width: 667px) {
    h1 {
        font-size: 3rem;
    }
    
    .player{
        font-size: 1rem;
        left: 20%; 
    }
    .computer{
        left: 80%;
        font-size: 1rem;
    }
}
@media (max-width: 426px) {
    h1 {
        font-size: 2.5rem;
    }
    .score {
        width: 100px;
        height: 55px;
        font-size: 2rem;
    }
    .player{
        left: 5%; 
    }
    .computer{
        left: 75%;
    }
}

